@tailwind base;
@tailwind components;
@tailwind utilities;

details > summary {
  list-style: none;
}
details > summary::marker {
  display: none;
}

.payline-details summary .payline-details__icon {
  transform: rotate(0);
  transform-origin: 0.4rem 50%;
  transition: 0.25s transform ease;
}

.payline-details[open] summary .payline-details__icon {
  transform: rotate(180deg);
}

.payline-details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

.hw-details[open] {
  background-color: white;
}

@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
