.icon-target {
  align-items: flex-start;
  display: flex;
  height: 16px;
  justify-content: flex-end;
  margin-bottom: 0;
  min-width: 16px;
  transform: rotate(90.00deg);
}

.icon-target-1 {
  height: 26px;
  margin-top: -5px;
  transform: rotate(-90.00deg);
  width: 26px;
}.group-37 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 53px;
  justify-content: flex-end;
  min-width: 53px;
  transform: rotate(45deg);
}

.overlap-group {
  height: 54px;
  margin-top: -0.37px;
  position: relative;
  width: 63px;
}

.path {
  height: 36px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 10px;
  transform: rotate(-45deg);
  width: 36px;
}

.adobe-stock329311328-preview {
  height: 37px;
  left: 7px;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 39px;
}.payment-options {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 97px;
  width: 457px;
}

.flex-row-main {
  align-items: center;
  display: flex;
  height: 20px;
  min-width: 271px;
  position: relative;
}

.my-business-takes-pa {
  letter-spacing: 1.20px;
  line-height: 20px;
  margin-left: 5px;
  min-height: 20px;
  min-width: 250px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
}

.flex-row-1 {
  align-items: center;
  display: flex;
  margin-top: 2px;
  min-width: 459px;
}

.online-icon {
  align-items: center;
  display: flex;
  height: 75px;
  justify-content: flex-end;
  min-width: 179px;
  padding: 11.0px 0;
  position: relative;
}

.link {
  letter-spacing: 0.42px;
  line-height: 36px;
  margin-left: 10px;
  margin-top: 3.0px;
  min-height: 36px;
  min-width: 105px;
  mix-blend-mode: normal;
  white-space: nowrap;
}

.adobe-stock270905924 {
  height: 73px;
  margin-left: 2px;
  margin-top: 0.05px;
  width: 72px;
}

.combined-shape {
  height: 42px;
  margin-bottom: 1.05px;
  margin-left: 5px;
  mix-blend-mode: normal;
  width: 44px;
}

.link-1 {
  letter-spacing: 0.36px;
  line-height: 36px;
  margin-bottom: 0.95px;
  margin-left: 4px;
  min-height: 36px;
  min-width: 152px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "HK Grotesk-SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("https://fonts.animaapp.com/HKGrotesk-SemiBold") format("opentype");
}
@font-face {
  font-family: "HK Grotesk-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/HKGrotesk-Bold") format("opentype");
}